@page "/signin"
@layout AuthorizationLayout

@inject AuthorizationService authService
@inject MauiInterop interop
@inject NavigationManager navManager

<EditForm Model="_model" OnValidSubmit="SigninAsync">
	<DataAnnotationsValidator/>

	<div class="card border-0 shadow-sm">
		<div class="card-body text-center">
			<h4>Welcome back</h4>
			<p class="text-muted">Sign in to your account</p>
			<div class="vstack text-start">
			<div class="mb-3">
				<label class="form-label">Username</label>
				<InputText @bind-Value="_model.Username" placeholder="username" class="form-control rounded-pill fs-6"/>
				<ValidationMessage For="() => _model.Username"/>
			</div>

			<div class="mb-3">
				<label class="form-label">Password</label>
				<InputText @bind-Value="_model.Password" type="password" placeholder="Password" class="form-control rounded-pill fs-6"/>
				<ValidationMessage For="() => _model.Password"/>
			</div>
			<button type="submit" class="btn btn-primary rounded-pill">Sign In</button>
			</div>
		</div>
	</div>
</EditForm>

<p class="mt-2">No account yet? <NavLink href="/signup">Register</NavLink></p>

@code {
	private SigninModel _model = new();

	private async Task SigninAsync()
	{
		interop.ShowLoader();
		try
		{
			await Task.Delay(5000);
			var result = await authService.SignInAsync(_model);
			if (result.IsSuccess)
			{
				//Go to home page
				navManager.NavigateTo("/homepage", replace: true);
			}
			else
			{
				//Show Error
				await interop.ShowErrorAlertAsync(result.Error ?? "Error signing in");
			}
		}
		catch (Exception ex)
		{
			await interop.ShowErrorAlertAsync(ex.Message);
		}
		finally
		{
			interop.HideLoader();
		}
	}
}



