@inherits LayoutComponentBase

<div class="vh-100 100-vw p-3 d-flex flex-column justify-content-center align-items-center">
	<div class="">
		<img class="mx-auto my-4 logo d-block" src="/images/worldwide.png" alt="logo" />
		<h3 class="mb-3">Trip Spennies</h3>
	</div>
		<div>
			@Body
		</div>
</div>

<style type="text/css" scoped>
	.logo{
		height: 100px;
		width: 100px;
	}
</style>